/*清除默认边距 */
*{
    margin: 0; /*边距*/
    padding: 0;
}

/*整个网页的背景图片*/
body{
    background:url("../img/back.jpg") ;
}

/*header设置外边界,留出页面最上面的距离*/
.header{
    margin-top: 15px;

}


/*语言部分的样式*/

.language{
    width: 100%;
    height:35px;
    background-color:#101111;

}
.language>ul{
    float: right;
    /*right: 470px;*/
    margin-right: 80px;

}

/*语言下面的li标签,用来存放语言*/
.language>ul>li{
    width: 80px;
    height: 35px;
    background-color: crimson;
    float:left;
    margin-left: 5px;
    /*没有点*/
    list-style: none;
}
.language>ul>li:nth-of-type(1){
    background: url("../img/01.gif");
}
/*鼠标悬浮改变图片*/
.language>ul>li:nth-of-type(1):hover{
    background: url("../img/01b.gif") no-repeat 0px 2px;
}
.language>ul>li:nth-of-type(2){
    background: url("../img/02.gif") no-repeat 0px -4px;
}
.language>ul>li:nth-of-type(2):hover{
    background: url("../img/02b.gif") no-repeat 0px 1px;
}
.language>ul>li:nth-of-type(3){
    /*给标签框的左边加距离*/
    padding-left: 15px;
    font-size: 14px;
    line-height: 35px;
    background-color: cyan;
}

/*导航条部分*/

.nav{
    width: 100%;
    height:70px;
    background-color: #15294c;
}

/*清除a标签默认格式
text-decoration 消除下划线

*/
a{
    text-decoration: none;
}

.nav>ul{
    margin-left: 100px;
    height: 70px;
}

/*导航条*/
.nav>ul>li{
    height: 70px;
    padding: 0px 15px;
    float: left;
    list-style: none;

}
.nav>ul>li>a{
    color: aliceblue;
    line-height: 70px;
}
.nav>ul>li:nth-of-type(10){
    color:pink;
    margin-left: 20px;
    line-height: 30px;

}
.header>img{
    float: left;
}
/*banner图部分*/
.banner{
    width: 100%;
    height: 340px;
    background-color: darksalmon;
    background: url("../img/b.gif") no-repeat;
    background-size: 100% 250px;

    /*overflow: hidden;
    两个容器重合时，可以用这个让想浮动的浮动
    */
}
.continer{
    width: 80%;
    height: 600px;
    background-color: pink;
    margin: 270px auto;
    /*auto居中*/
}
.continer>.top1{
    width: 100%;
    height: 320px;
    background-color: #00ffff;
}
.top1>.left{
    width: 220px;
    height:100%;
    background-color: rgba(94, 129, 241, 0.99);
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
    /*不会因为添加内容改变排版*/
}
.left>h2{
    color:white;
    font-size: 18px;
    padding: 15px 0;
    /*边框*/
    border-bottom: 1px solid wheat;
}
.left>ul{
    list-style: none;
    box-sizing: border-box;
}

.left>ul>li{
    color:white;
    line-height: 50px;
    padding-left: 60px;
    background: url("../img/03.gif") no-repeat ;
}
.left>ul>li:hover{
    color: cyan;
}

/*到时候用js改一下*/

.top1>.center{
    width: 690px;
    height:100%;
    background-color: #ffa200;
    float: left;
    margin: 0 10px;
}

.top1>.center{
    background: url("../img/c.gif");
    background-size: 690px;
}


.top1>.right{
    width: 275px;
    height:100%;
    background-color: #59ff00;
    float: left;
    margin-left: 10px;
}
